ul {
    font: 30px sans-serif;
    display: table;
    width: 80%;
    margin: 50px 10% 0px 10%;
}
ul li {
    display: table-cell;
}
ul li a {
    display: block;
    text-align: center;
    color: rgba(6, 23, 177, 0.7);
    text-decoration: none;
    padding: 16px 16px 30px 16px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    transition: padding 0.3s;
}

ul li:first-child a {
    border-radius: 3px 0 0 3px;
}
ul li:last-child a {
    border-radius: 0 3px 3px 0;
}

ul li a:hover,
ul li a:focus {
    padding: 0px 55px 20px 55px;
    font-size: 50px;
}

.container {
    margin-left: 2.5%;
    margin-right: 5%;
    width: 90%;
    padding-left: 5%;


}

.div {
    float: left;
    margin: 0 0.7% 25px 0.7%;
    height: 120px;
    width: 12%;
    border: 2px solid;
    border-radius: 25px;
    background-color: cadetblue;

    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    background-color: orange;
    margin: 0 0.7% 25px 0.7%;
    text-align: center;
    display: block;
}
